<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Website</h1>
    </header>
    <div class="container">
        <h1>Homepage</h1>
        <p>Welcome to our website. You can enroll using the link below.</p>
        <a href="/enroll">Enroll Here</a>
    </div>
</body>
</html>
